# Gemini API Key: https://aistudio.google.com/api-keys
GOOGLE_GENERATIVE_AI_API_KEY=""

# Can be used to access all the models hosted in the opencode zen provider
# https://opencode.ai/docs/zen/#endpoints
OPENCODE_ZEN_API_KEY=""
OPENCODE_ZEN_API_ENDPOINT="https://opencode.ai/zen/v1"

# use @ai-sdk/anthropic
OPENCODE_ENDPOINT_ANTHROPIC="https://opencode.ai/zen/v1/messages"
# use @ai-sdk/google
OPENCODE_ENDPOINT_GOOGLE="https://opencode.ai/zen/v1/models/gemini-3-pro"
# use @ai-sdk/openai-compatible + modelId: big-pickle
OPENCODE_ENDPOINT_OPENAI_COMPAT="https://opencode.ai/zen/v1/chat/completions"


# Anthropic API Key (optional, other options above/below)
ANTHROPIC_API_KEY="insert-secret-key-here"

# OpenAI API Key (optional, other options above)
OPENAI_API_KEY="insert-secret-key-here"